<html>
  <head>
    <title>S3 Viewer / Upload Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
   <link type="stylesheet" href="js/jquery-ui.min.css">
  </head>
  <body>
    <section>
      <div class="container">
        <div class="col-sm-12">
          <h1>S3 Viewer / Upload Portal</h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="col-sm-5 main-block upload">
          <h2>Upload to S3</h2>
          <form action="https://s3-bucket.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <label class="form-label">File to upload to S3</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <input name="file" type="file" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <label class="form-label">S3 Bucket Path</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-9">
                  <input id="bucketPath" name="bucketPath" type="text" class="form-control" required>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-sm btn-success" onclick="validatePath(); return false;">Validate Path</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" value="Upload File to S3" class="btn btn-warning">
            </div>
          </form>
        </div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-5 main-block search">
          <h2>Query S3 Data</h2>
          <form action="/search" method="get">
            <div class="form-group">
              <label class="form-label">File Name</label>
              <input type="text" value="" class="form-control">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <label class="form-label">Date Range (Optional)</label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <p>Start Date:</p><input name="startDate" type="date" class="form-control">
                </div>
                <div class="col-sm-6">
                  <p>End Date:</p><input name="endDate" type="date" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-info" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="col-sm-12">
          <h2>Search results for S3 query...</h2>
           <p class="results">Sorry there are no results to display.</p>
        </div>
      </div>
    </section>

    <!-- placed JS at the bottom to speed up page load times -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.min.js"></script>

    <script type="text/javascript">
      function validatePath() {
        var path = $('#bucketPath').val();
        alert("Path: "+path);
      };
    </script>

  </body>
</html>
