.main-block{
  min-height: 450px;
  border-width: 2px;
  margin-bottom: 30px;
  margin-top: 30px;
  opacity: 0.9;
}
.upload {
  background-color: rgba(160, 77, 77, 0.75);
}
.search {
  background-color: rgba(56, 122, 179, 0.75);
}
.search .results {
  background-color: #eee;
  min-height: 500px;
}
