.main-block{
  min-height: 300px;
  border-width: 2px;
  margin-bottom: 30px;
  margin-top: 30px;
  opacity: 0.9;
}
.upload {
  background-color: #9D9D9D;
}
.search {
  background-color: #337AB7;
}
.search .results {
  background-color: #eee;
  min-height: 500px;
}
